.quiz-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #C5B9F8;
  font-family: 'Arial', sans-serif;
  padding: 20px;
  position: relative;

  .quiz-card {
    height: 94vh;
    background-color: #F2EFFF;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90vw;
    text-align: center;
    position: relative;
    overflow: hidden;

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 30vw;
      height: 30vw;
      background-color: #E8E3FC;
      border-radius: 50%;
    }

    &::before {
      top: 10px;
      right: -200px;
      transform: rotate(180deg);
    }

    &::after {
      bottom: -100px;
      left: -100px;
      transform: rotate(0deg);
    }

    .progress-bar {
      width: 100%;
      background-color: #e0e0e0;
      height: 10px;
      border-radius: 5px;
      margin-bottom: 20px;
      z-index: 99;

      .progress-fill {
        height: 100%;
        background-color: #F4614D;
        border-radius: 5px;
      }
    }

    .selected-correct {
      background-color: green;
      color: white;
      font-weight: bold;
    }

    .selected-incorrect {
      background-color: red;
      color: white;
      font-weight: bold;
    }

    .navigation-buttons {
      position: absolute;
      display: flex;
      justify-content: space-between;
      bottom: 10%;
      width: 100%;
      padding: 0 4vw;
      z-index: 99;

      button {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        padding: 3vw;
        display: flex;
        justify-content: center;
        background-color: #FEAEA2;
        align-items: center;
        transition: background-color 0.3s ease;
        font-size: 1vw;
        border: none;
        cursor: pointer;

        &:disabled {
          cursor: not-allowed;
        }

        i {
          margin: 0;
        }
      }
    }
  }
}